extends layout

block content
  h2 All rides
  table(class='table table-striped')
    tr
      th All rides We Have
      th
    each ride, i in rides
      tr
        td #{bid.car}
        td From #{bid.source} to #{bid.destination} at time #{bid.start_time}
        td Number of passengers: #{bid.number_passenger}
        td
          a(class="btn btn-tiny btn-default" href="/rides/edit/#{ride.ride_id}") Edit
