extends layout

block content
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/stylesheets/style_admin.css')
    body
        .topnav
            a(href='/admin/users') Users
            a(href='/admin/cars') Cars
            a.active(href='/admin/rides') Rides
            a(href='/admin/bids') Bids
    h1
    ul
      form.form-inline(method='POST', action='/admin/rides')
            .form-group
                label ride_id:
                input(name='ride_id', type='text', size='10')
            .form-group
                label car:
                input(name='car', type='text', size='5', maxlength="8")
            .form-group
                label start_time:
                input(name='start_time', type='text', size='5')
            .form-group
                label source:
                input(name='source', type='text', size='5')
            .form-group
                label destination:
                input(name='destination', type='text', size='5')
            .form-group
                label number_passenger:
                input(name='number_passenger', type='text', size='5')
            .form-group
                label status:
                input(name='status', type='text', size='5')
            input(type='submit', name='submit', value='Add')
        table(class='table table-striped')
            tr
                th Ride id
                th Car
                th Start time
                th Source
                th Destination
                th Number of passenger
                th Status
                th
            each ride in rides
                tr
                    td #{ride.ride_id}
                    td #{ride.car}
                    td #{ride.start_time}
                    td #{ride.source}
                    td #{ride.destination}
                    td #{ride.number_passenger}
                    td #{ride.status}
                    td
                        a.btn.btn-tiny.btn-primary(href="/admin/rides/edit/#{ride.ride_id}") Edit
                        a.btn.btn-tiny.btn-danger.deleteRide(href="#", data-id = '#{ride.ride_id}') Delete