extends layout

block content
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style_admin.css')
  body
    .topnav
      a.active(href='/admin/users') Users
      a(href='/admin/cars') Cars
      a(href='/admin/rides') Rides
      a(href='/admin/bids') Bids
  h1
  ul
    form.form-inline(method='POST', action='/admin/users')
      .form-group
        label Username:
        input(name='username', type='text', size='10')
      .form-group
        label Password:
        input(name='password', type='text', size='5')
      .form-group
        label Name:
        input(name='name', type='text', size='5')
      .form-group
        label Age:
        input(name='age', , type='text', size='5', maxlength="3")
      .form-group
        label Sex:
        input(name='sex', type='text', size='5', maxlength="6")
      .form-group
        label Role:
        input(name='role', type='text', size='5', maxlength="9")
      input(type='submit', name='submit', value='Add')
    table(class='table table-striped')
      tr
        th Username
        th Password
        th name
        th Age
        th Sex
        th Role
        th
      each user in users
        tr
          td #{user.username}
          td #{user.password}
          td #{user.name}
          td #{user.age}
          td #{user.sex}
          td #{user.role}
          td
            a.btn.btn-tiny.btn-primary(href="/admin/users/edit/#{user.username}") Edit
            a.btn.btn-tiny.btn-danger.delete(href="#", data-id = '#{user.username}') Delete
