extends layout

block content
  h1 Bid: #{bid.bid_id}
  p Source: #{bid.source}
  p Destination: #{bid.destination}
  p Start_Time: #{bid.start_time}
  p Passenger: #{bid.passenger}
  p Amount: #{bid.amount}
  p Status: #{bid.status}
