extends layout

block content

  h2 Own bids

  table(class='table table-striped')
    tr
      th As a passenger, here are your bids for other rides
    each bid, i in bids
      tr
        td Passenger: #{bid.passenger}
        td From #{bid.source} to #{bid.destination} at time #{bid.start_time}
        td #{bid.amount}
        td
          a(class="btn btn-tiny btn-default" href="/bids/edit/#{bid.bid_id}") Edit
        td
          a(class="btn btn-tiny btn-danger" href="/bids/delete/#{bid.bid_id}") Delete
