extends layout

block content
  h2 Bids For Driver's Own Rides

  table(class='table table-striped')
    tr
      th As a driver, here are the bids for your own rides
    each bid, i in bids
      tr
        td Passenger: #{bid.passenger}
        td From #{bid.source} to #{bid.destination} at time #{bid.start_time}
        td #{bid.amount}
        td
          a(class="btn btn-tiny btn-danger" href="/bids/delete/#{bid.bid_id}") Delete
        td
          a(class="btn btn-tiny btn-primary" href="/bids/acceptBid/#{bid.bid_id}") Accept
