extends layout

block content
  h2 Driver's Own Rides

  table(class='table table-striped')
    tr
      th As a driver, here are the rides that you have created
    each ride, i in rides
      tr
        td
          a(href="/rides/#{ride.ride_id}") #{ride.ride_id}
        td From #{ride.source} to #{ride.destination} at time #{ride.start_time}
        td
          a(href="/rides/delete/#{ride.ride_id}") Delete
